<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../CSS/LinkShow.css">
  <script src="https://kit.fontawesome.com/691ebbef1e.js" crossorigin="anonymous"></script>
  <title>Getyo.Link</title>
</head>

<body>
  {{>Navbar}}
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        {{#if URL}}
        <h1 style="font-size: 23px; color:black">About: {{about}}</h1>
        <input type="text" id='uncode' placeholder="Generated Link" style="font-size: 23px; text-align:center" value="http://{{URL}}"
          readonly="">
         <i class="far fa-copy" onclick="copycode()" style="cursor: pointer;"></i>
         <a href="http://{{URL}}" target="_blank"><i class="fas fa-link"></i></a>
        {{else}}
        <p>No URL</p>
        {{/if}}
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap -m-4 ">
        <div class="p-4 md:w-1/3 pl-4">
          <img src="images/mobile.svg" alt="hii" style="height: 200px;" class="pb-4">
          <div class="text">
            <p>Provide two in one feature of</p>
            <p>Codes and Link Shortner.</p>
          </div>
        </div>
        <div class="p-4 md:w-1/3 pl-4">
          <img src="images/girl.svg" alt="hii" style="height: 200px;" class="pb-4">
          <div class="text">
            <p>Search the code to get the link</p>
            <p>attached with it.</p>
          </div>
        </div>
        <div class="p-4 md:w-1/3 pl-4">
          <img src="images/link.svg" alt="hii" style="height: 200px;" class="pb-4">
          <div class="text">
            <p>Website link directly opens</p>
            <p>page with link.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>Footer}}

  <script>
    searchid = () => {
      const innerid = document.getElementById("myinput").value
      document.getElementById("form_id").action = innerid
    }
    function copycode() {
            /* Get the text field */
            var copyText = document.getElementById("uncode");
            
            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
            return false
        }
  </script>
</body>

</html>